body.dark {
  background: #000;
}

.dark {
  .sound {
    background: transparent;
    & > div {
      background: transparent;
    }
    i:before {
      text-shadow: 0px 0px 10px #F60017;
    }
    .active i:before {
      color: #FFF;
    }
  }
}