//- Created by Hutber on 20/10/2015.
.loginHeader
    .dot
    .icon-dotb
    a(href="http://www.mindfulnessinschools.org/").topBlogo
form.loginForm
    .logo
        .dot
        .icon-dotb
    .text
        p Here you will find the home practice
        p animations for the .b course. It is for use by .b
        p students and .b teachers only
    h3 ENTER YOUR PASSCODE
    input(placeholder="Passcode", name="submit", text="text", value="").submit
    button.loginButton Submit
    .links
        a(href="https://mindfulnessinschools.org/passcode-dotbe-org/").externalLinks I don’t know my passcode
    .links
        a(href="https://mindfulnessinschools.org/what-is-b/b-curriculum/").externalLinks Tell me more about .b
.loginFooter
    //a Terms and Conditions
    a(href="https://www.iubenda.com/privacy-policy/8192678") Privacy Policy
