//- Created by Hutber on 21/10/2015.
nav.slideIn
	.timer
		a()
			.cog
				i.icon-cog.spinning
		.light
			.light-line
			i.icon-lightbulb
		a.menu(href="#videos", style="font-size: 4rem;")
			i(class="icon-dotb")
	.videos
		a()
			.cog
				i.icon-cog.spinning
		.light
			.light-line
			i.icon-lightbulb
		//a.menu.videohome(href="#videos", style="font-size: 4rem;")
			//i(class="icon-dotb")
		a.menu.videohome(href="#videos", style="font-size: 4rem;")
			svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 685 572', xml:space='preserve')
				style(type='text/css').
					.st0{fill:none;}
					.st1{fill:#CFCFCF;}
				g
					path.st1(d='M8,72.3L8,72.3C8,36.8,36.8,8,72.3,8l0,0c17,0,33.4,6.8,45.5,18.8s18.8,28.4,18.8,45.5l0,0\
					c0,35.5-28.8,64.3-64.3,64.3l0,0C36.8,136.6,8,107.8,8,72.3z')
					path.st1(d='M8,213.7L8,213.7c0-35.5,28.8-64.3,64.3-64.3l0,0c17,0,33.4,6.8,45.5,18.8c12.1,12.1,18.8,28.4,18.8,45.5l0,0\
					c0,35.5-28.8,64.3-64.3,64.3l0,0C36.8,278,8,249.2,8,213.7z')
					path.st1(d='M8,355.1L8,355.1c0-35.5,28.8-64.3,64.3-64.3l0,0c17,0,33.4,6.8,45.5,18.8s18.8,28.4,18.8,45.5l0,0\
					c0,35.5-28.8,64.3-64.3,64.3l0,0C36.8,419.4,8,390.6,8,355.1z')
					path.st1(d='M8,496.6L8,496.6c0-35.5,28.8-64.3,64.3-64.3l0,0c17,0,33.4,6.8,45.5,18.8s18.8,28.4,18.8,45.5l0,0\
					c0,35.5-28.8,64.3-64.3,64.3l0,0C36.8,560.9,8,532.1,8,496.6z')
					path.st1(d='M166.3,72.3L166.3,72.3c0-35.5,28.8-64.3,64.3-64.3l0,0c17,0,33.4,6.8,45.5,18.8\
					c12.1,12.1,18.8,28.4,18.8,45.5l0,0c0,35.5-28.8,64.3-64.3,64.3l0,0C195.1,136.6,166.3,107.8,166.3,72.3z')
					path.st1(d='M166.3,213.7L166.3,213.7c0-35.5,28.8-64.3,64.3-64.3l0,0c17,0,33.4,6.8,45.5,18.8\
					c12.1,12.1,18.8,28.4,18.8,45.5l0,0c0,35.5-28.8,64.3-64.3,64.3l0,0C195.1,278,166.3,249.2,166.3,213.7z')
					path.st1(d='M166.3,355.1L166.3,355.1c0-35.5,28.8-64.3,64.3-64.3l0,0c17,0,33.4,6.8,45.5,18.8\
					c12.1,12.1,18.8,28.4,18.8,45.5l0,0c0,35.5-28.8,64.3-64.3,64.3l0,0C195.1,419.4,166.3,390.6,166.3,355.1z')
					path.st1(d='M166.3,496.6L166.3,496.6c0-35.5,28.8-64.3,64.3-64.3l0,0c17,0,33.4,6.8,45.5,18.8\
					c12.1,12.1,18.8,28.4,18.8,45.5l0,0c0,35.5-28.8,64.3-64.3,64.3l0,0C195.1,560.9,166.3,532.1,166.3,496.6z')
				rect(x='635.4', y='1080.1', width='0', height='16.3')


		a.menu(href="#index", style="font-size: 4rem;")
			.logo
				.dot
				i(class="icon-dotb")
