//- Created by Hutber on 20/10/2015.
include nav
.noClick
.intro
    .cogFade
        .cogElements
            .circle
            .cog.start
                i.icon-cog.spinning
    .b(style="font-size: 15rem;")
        i(class="icon-dotb")