//- Created by Hutber on 20/10/2015.
include nav
#videos
    .container
        .videoShell
            a(href="#viewvideoone", data-id="one").one
                img(src="./img/1.png")
            a(href="#viewvideotwo", data-id="two").two
                img(src="./img/2.png")
            a(href="#viewvideothree", data-id="three").three
                img(src="./img/3.png")
            a(href="#viewvideofour", data-id="four").four
                img(src="./img/4.png")
            a(href="#viewvideofive", data-id="five").five
                img(src="./img/5.png")
            a(href="#viewvideosix", data-id="six").six
                img(src="./img/6.png")
            a(href="#viewvideoseven", data-id="seven").seven
                img(src="./img/7.png")
            a(href="#viewvideoeight", data-id="eight").eight
                img(src="./img/8.png")
