//- Created by Hutber on 22/10/2015.
.playButton
    canvas#timer(width="200", height="200")
    .playButtonControls.one
        .playButtonItem.one
            .icon.icon-bell
            .line 
        .playButtonItem.two
            .icon
            .line
        .playButtonItem.three
            .icon
            .line
        .playButtonItem.four
            .icon
            .line
        .playButtonItem.five
            .icon
            .line 
        .playButtonItem.six
            .icon
            .line
    .button
        .icon-play
        .icon-pause
        .clock
    //- .cog
    //-    i.icon-cog