@font-face {
  font-family: 'dotbee9thfebmedium';
  src: url('../font/dotbee9thfeb-webfont.eot');
  src: url('../font/dotbee9thfeb-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/dotbee9thfeb-webfont.woff2') format('woff2'),
  url('../font/dotbee9thfeb-webfont.woff') format('woff'),
  url('../font/dotbee9thfeb-webfont.ttf') format('truetype'),
  url('../font/dotbee9thfeb-webfont.svg#dotbee9thfebmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-condlight';
  src: url('../font/opensans-condlight-webfont.woff2') format('woff2'),
  url('../font/opensans-condlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

