/****************
* Points on the Dials
*/
.intervalItem {
  .one {
    transform: translate3d(-50%, -50%,0);
  }
  .two {
    top: 50%;
    right: 0%;
    left: auto;
    transform:  translate3d(35%, -50%,0) rotate(-90deg);
  }
  .three {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 50%,0);
  }
  .four {
    top: 50%;
    left: 0%;
    transform: translate3d(-35%, -50%,0) rotate(-90deg);
  }
  .five {
    top: auto;
    left: 2%;
    transform: translate3d(0%, 0%,0) rotate(45deg);
    bottom: 0;
  }
  .six {
    top: auto;
    right: 2%;
    left: auto;
    transform: translate3d(0%, 0%,0) rotate(-45deg);
    bottom: 0;
  }
}